:root {
  --black: #000000;
  --white: #ffffff;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --dark: #232830;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav img {
  width: 200px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
nav ul a {
  text-decoration: none;
  color: var(--dark);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}
nav ul a:hover {
  color: var(--hospital-green);
  border: 1px solid var(--hospital-green);
}
/* Ocultar */
#unidades {
  display: grid;
}
#paquetes {
  display: none;
}
#bebidas {
  display: none;
}
#huevos {
  display: none;
}
.generar{
  display: none;
  margin-left: 10px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 26px;
  place-content: center;
}
.product-card {
  width: 180px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: var(--very-light-pink);
  justify-content: space-around;
  border-radius: 20px;
}
.product-card button {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid var(--dark);
  background-color: var(--dark);
  color: var(--white);
  font-size: var(--md);
  font-weight: bold;
}

.product-card button:active {
  background-color: var(--hospital-green);
  color: var(--dark);
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-info p:nth-child(1) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--black);
}
.product-info p:nth-child(2) {
  font-size: var(--md);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.number-input, .name-input {
  width: 100px;
  height: 30px;
  background: var(--text-input-field);
  border-radius: 14px;
  border: 1px solid var(--text-input-field);
  text-align: center;
}
aside {
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 300px;
  max-height: 600px;
  height: 78%;
  background-color: var(--very-light-pink);
  top: calc(50% - 45%);
  right: calc(50% - 160px);
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid black;
  color: var(--dark);
  padding: 10px;
}
aside .client-name {
  font-weight: 700;
}
.client-name--span{
  font-weight: 500;
}
#factura table{
  width: inherit;
}
footer {
  width: 100%;
}
.result {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: var(--very-light-pink);
  justify-content: space-around;
  border-radius: 20px;
}
.result p {
  font-size: var(--md);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.result button, #generarRecibo, #generarReciboAlt{
  width: 80px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid var(--dark);
  background-color: var(--dark);
  color: var(--white);
  font-size: var(--md);
  font-weight: bold;
}
#generarRecibo{
  width: 100px;
  position: absolute;
  bottom: 20px;
}
#generarReciboAlt{
  width: 100px;
  position: absolute;
  bottom: 20px;
  margin-left: 120px;
}
.result button:active, #generarRecibo:active, #generarReciboAlt:active{
  border: 1px solid var(--dark);
  background-color: var(--hospital-green);
  color: var(--dark);
}
#factura{
  display: none;
}
@media (max-width: 386px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 160px);
  }
  .product-card {
    width: 160px;
  }
  .product-card button {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1000px) {
  nav, .main-container{
    width: 70%;
  }
  #factura{
    display: flex;
    right: calc(3%);
  }
}