.preCharge, .preCharge  button {
  animation: skeleton;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes skeleton {
  0%, 100%{
    background-color: var(--very-light-pink);
    border: none;
  }
  50%{
    background-color: var(--text-input-field);
    border: none;
  }
}
.product-card button{
  animation-delay: 1s;
}