@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
:root {
  --on-primary: #fff;
  --on-secondary: #c7c7c7;
  --text-primary: #31111d;
  --text-color: #31111d;
  --text-color-altern: #000;

  --primary-button: #31111d;
  --primary-button-hover: #ffd8e4;
  --text-color-primary-button: #ffd8e4;
  --text-color-primary-button-hover: #362e31;

  --secondary-button: #633b48;
  --secondary-button-hover: #ffd8e4;
  --secondary-button-text: #fff;
  --secondary-button-text-hover: #381e72;

  --border-text-input: #31111d;

  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
.dark {
  --on-primary: #1c1b1f;
  --on-secondary: #2b2831;
  --text-primary: #fff;
  --text-color: #e8def8;
  --text-color-altern: #cac4d0;

  --primary-button: #633b48;
  --primary-button-hover: #ffd8e4;
  --text-color-primary-button: #ffd8e4;
  --text-color-primary-button-hover: #362e31;

  --secondary-button: #4a4458;
  --secondary-button-hover: #bea9ee;
  --secontary-button-text: #e8def8;
  --secondary-button-text-hover: #381e72;

  --border-text-input: #ffd8e4;
}
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  height: 100vh;
  background-color: var(--on-primary);
  position: relative;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav--header--a {
  text-decoration: none;
  color: var(--text-color);
}
.nav--header--img {
  width: 200px;
  height: 32px;
  border-radius: 8px;
}
.nav--header--ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.nav--header--ul--a {
  text-decoration: none;
  color: var(--text-color);
  border: 1px solid var(--on-primary);
  padding: 8px;
  border-radius: 8px;
}
.nav--header--ul--a:hover {
  color: var(--text-primary);
  border: 1px solid var(--primary-button);
}
.nav--header--ul--a:active {
  color: var(--text-color-primary-button);
  background-color: var(--primary-button);
}
/* Ocultar */
#unidades {
  display: grid;
}
#paquetes {
  display: none;
}
#bebidas {
  display: none;
}
#huevos {
  display: none;
}
.generar {
  display: block;
  margin-left: 10px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 26px;
  padding-bottom: 100px;
  place-content: center;
}
.product-card {
  width: 180px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: var(--on-secondary);
  justify-content: space-around;
  border-radius: 20px;
}
.product-card--button,
.product-card--button-text {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid var(--secondary-button);
  background-color: var(--secondary-button);
  color: var(--secondary-button-text);
  font-size: var(--md);
  font-weight: bold;
}

.product-card--button:active,
.product-card--button-text:active {
  background-color: var(--secondary-button-hover);
  color: var(--secondary-button-text-hover);
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-info--p--name {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--text-primary);
}
.product-info--p--price {
  font-size: var(--md);
  color: var(--text-color);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.number-input,
.name-input {
  width: 100px;
  height: 30px;
  background: rgba(0, 0, 0, 0);
  border-radius: 14px;
  border: 1px solid var(--border-text-input);
  color: var(--text-color-altern);
  text-align: center;
}
.number-input::placeholder,
.name-input::placeholder {
  color: var(--text-color);
  opacity: 1;
}
.background-footer-aside {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
aside {
  z-index: 1;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 300px;
  max-height: 600px;
  height: 78%;
  background-color: var(--on-secondary);
  top: calc(50% - 45%);
  right: calc(50% - 160px);
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid var(--border-text-input);
  color: var(--text-color);
  padding: 10px;
}
/* no modificar */
.toggleAsideFactura {
  width: 400px;
  height: 800px;
  font-size: 20px;
  background-color: white;
  color: black;
  position: static;
  border-radius: 0;
  border: none;
}
.client-name {
  font-weight: 700;
}
.client-name--span {
  font-weight: 500;
}
.factura--table {
  width: inherit;
}
footer {
  width: 100%;
}
.result {
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: var(--on-secondary);
  justify-content: space-around;
  border-radius: 20px;
}
.result,
.generar {
  position: fixed;
}
.result--p {
  font-size: var(--md);
  color: var(--text-color);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.result--button,
#generarRecibo,
#generarReciboAlt {
  z-index: 1;
  width: 80px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid var(--primary-button);
  background-color: var(--primary-button);
  color: var(--text-color-primary-button);
  font-size: var(--md);
  font-weight: bold;
}
#generarRecibo {
  width: 100px;
  position: fixed;
  bottom: 20px;
}
#generarReciboAlt {
  width: 100px;
  position: fixed;
  bottom: 20px;
  margin-left: 120px;
}
.result--button:active,
#generarRecibo:active,
#generarReciboAlt:active {
  border: 1px solid var(--primary-button-hover);
  background-color: var(--primary-button-hover);
  color: var(--text-color-primary-button-hover);
}
#factura {
  display: none;
}
.change-style-button {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--primary-button);
  background-color: var(--primary-button);
  color: var(--text-color-primary-button);
  font-size: var(--lg);
  font-weight: bold;
}
/* error */
.error--window {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.error--container {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: var(--on-secondary);
  border-radius: 10px;
  border: 1px solid var(--border-text-input);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.error--container--msg {
  font-size: var(--md);
  color: var(--text-color);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.error--container--res {
  text-align: center;
}
.error--container--button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--primary-button);
  background-color: var(--primary-button);
  color: var(--text-color-primary-button);
  font-size: var(--lg);
  font-weight: bold;
}
.error--container--button:active {
  border: 1px solid var(--primary-button-hover);
  background-color: var(--primary-button-hover);
  color: var(--text-color-primary-button-hover);
}
.animation-childs .product-card {
  /* Otros estilos */
  animation: fade-out 1s forwards;
}
@keyframes fade-out {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  0% {
    opacity: 1;
  }
}
@media (max-width: 386px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 160px);
  }
  .product-card {
    width: 160px;
  }
  .product-card button {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1000px) {
  .background-footer-aside {
    display: none;
  }
  nav,
  .main-container {
    width: 70%;
  }
  #factura {
    display: flex;
    right: calc(3%);
  }
}
